<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab>
    <ion-fab-button (click)="test()">
      <ion-icon name="bug" slot="icon-only"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab slot="fixed" horizontal="end">
    <ion-fab-button (click)="testJwt()">
      <ion-icon name="bug" slot="icon-only"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="testUserInfo()">
      <ion-icon name="bug" slot="icon-only"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
